<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Engine App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script>
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
    <div class="header">
        <button class="btn btn-lg btn-success" onclick="goBack()">Go Back</button>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1>Search Engine</h1>
            <h2>{{fileName}}</h2>
            <p class="lead"></p>
        </div>

        <div style="height: 180px; overflow-y: scroll;">
            {{ content }}
        </div>
    </div>

</body>
</html>